header {
    /* header */
    width: 87.7%;
    max-width: 1263px;
    height: 90px;
    margin: 32px 0 32px 0;

    background: #D9D9D9;
    border-radius: 20px;

}

.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* article name */
.article-name {
    display: flex;
    flex-direction: column;
    width: 87.7%;
    max-width: 1263px;

}

.article-name h1 {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 74px;
    margin: 0;

    color: #000000;

}

.article-name h3 {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    margin: 12px 0 0 0;

    color: #7E7C7C;


}



.tags {
    display: flex;
    margin: 18px 0;
    gap: 8px;
}

.article-image {
    background: url(../image/ba-pict.png);
    background-size: cover;
    width: 87.7%;
    max-width: 1263px;
    height: 525px;

    border-radius: 15px;

}

/* content and menu */
.content-and-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 54px;

    width: 87.7%;
    max-width: 1263px;
}

.left-side {
    width: 872px;
}

.article-content h2 {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    margin: 0;

    color: #000000;

}

.article-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.article-content p {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;

    color: #000000;



}

/* right menu */
.agenda ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-bottom: 54px;
    gap: 16px;

}

.agenda li a {
    text-decoration: none;
    /* Вступ */

    font-family: 'Manrope';
    font-style: normal;
    /* font-weight: 500; */
    font-size: 24px;
    line-height: 33px;

    color: #D9D9D9;




}

.agenda li #intro {
    font-weight: 700;
    color: #000000;
}

.right-side {}

.right-side h2 {


    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    color: #000000;


}

.topic-exercises {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.topic-exercises div {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 40px;


    background: #EC713C;
    border-radius: 7.5px;

}

.topic-exercises a {

    text-decoration: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #000000;

}

table {
  border-collapse: collapse;
    width: -webkit-fill-available;
    border-radius: 3px;
}
table td, table th {
  border: 0.75px solid black;
    padding: 7.5px 9px;

}

.sentence-examples span, table span{
    color: #7E7C7C;
}

.sentence-examples {
    list-style: decimal;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

thead tr{
    background-color: #EC713C;
    color: #000;
    text-align: left;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;

}

tbody tr
 {
    border: 1px solid #000;
    font-family: 'Manrope';
    font-style: normal;
    font-size: 15px;
    padding: 8px;
}

.share {
    width: 87.7%;
    max-width: 1263px;
}

.social-media {
    display: flex;
    gap: 8px;
    width: 87.7%;
    max-width: 1263px;
    margin: 12px 0;

}

.share h2 {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    color: #000000;

}

.share-button img {
    width: 24px;
}

.relevant-articles {
    width: 87.7%;
    max-width: 1263px;
}

.relevant-articles h2 {
    margin: 24px 0 8px 0;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 26px;
    color: #000000;


}

.rel-art-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.ra-pict {

    width: 358px;
    height: 120px;
    background: url(../image/sa-pict.png);
    border-radius: 15px;

}

.rel-art h2 {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #000000;

}

footer {

    width: 87.7%;
    max-width: 1262px;
    height: 200px;

    background: #D9D9D9;
    border-radius: 20px;
    margin: 32px 0;

}

#orange-line{
    background-color: rgba(255, 127, 0, 0.5); /* Orange color with 50% opacity */
    mix-blend-mode: multiply;
}